[core]
	excludesfile = /Users/bob/.gitignore_global
[github]
	user = bobrowadam
[user]
	name = Adam Bobrow
        email= adam@riseup.co.il
[merge]
	conflictStyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	pm = fetch origin master:master
[pull]
	ff = only
